{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Movies</h2>
    <div class="row">

        {% for movie in movies %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{movie.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">
                        {% if movie.readyToEat %}
                            Ripe
                        {% else %}
                            Not Ripe
                        {% endif %}
                    </h6>
                    <p class="card-text">
                        The color of this {{movie.name}} is {{movie.color}}
                    </p>
                    
                    <a href="/movies/{{movie._id}}" class="btn btn-info">View {{movie.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}